DEV_DATABASE_URL=postgres://user:password@localhost:5432/dbname?sslmode=disable
PROD_DATABASE_URL=postgres://user:password@localhost:5432/dbname?sslmode=disable
TEST_DATABASE_URL=postgres://user:password@localhost:5432/test_dbname?sslmode=disable
